
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="card" style="padding:40px">
        <div class="container" style="padding:25px;border:2px solid green">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/img/logo_sebl_tm.png" />
                    <p style="margin-top:50px;">
                        <b style="color:#06daf8;">
                            <u>Customer Request Form:</u>
                        </b>
                    </p>

                </div>
                <div class="col-md-2" style="">
                    <img src="~/img/visa_mastercard.png" style="height:70px;width:120px; margin-top:40px;" />
                </div>
                <div class="col-md-5" style="">
                    <p>
                        <u> 24/7 Customer Service Helpline:</u>
                        <br />
                        <b>T&T</b>
                        <span> : +88-02-9580081-87, 9580800-09</span>
                        <br />
                        <b> Call Centre</b>
                        <span>: 16206 (08.00 am to 10.00 pm)</span>
                        <br />
                        <b>Cell</b>
                        <span>: 01713060050,</span>
                        <b>Fax</b>:
                        <span> +88-02-9576608</span>
                        <br />
                        <b>eMail</b>
                        <span>: cards@southeastbank.com.bd</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Dated: ………/………/20……… <br />
                        To <br />
                        The Head of Card Division <br />
                        Southeast Bank Limited 52-53,<br />
                        Eunoos Trade Centre (Leve-5),<br />
                        Dilkusha C/A, Dhaka-1000
                    </p>
                </div>
                <div class="col-md-6" style="">
                    <p style="padding:10px;background:whitesmoke;float:right;margin-right:30%;border:1px solid gray">
                        <b> <u> Service Request For:</u></b> <br />
                        □ Credit Card<br />
                        □ Debit Card<br />
                        □ Prepaid / Travel Card<br />
                        □ Virtual Card

                    </p>
                </div>
                <p style="padding-left:15px">
                    Dear Sir,<br />
                    I undersigned would like to request for the following(s) Southeast Bank Ltd’s card services:
                </p>
            </div>
            <div class="row" style="padding-left:15px">
                <p>
                    ① Changing of address:     <span style="padding-left:200px;">□ Home</span>   <span style="padding-left:200px;">□ Office </span><br />
                    as Company / House Name # ………………………………………………………………………………………….…………… Designation # …………………………………………… <br />
                    House # …………………….…..……….. Apartment / Flat # …….…….…..……….….…… Floor # …………..…...….….……..…… Road # …………….…….….….………… <br />
                    Area / Village # …….……………...………….… PS / Thana # ………….……..…….…..……… District # ………….……...……….………… <br />
                    Contact No: Home # …………………………………….  Office #  ……………………………………. Mobile #  …………………………………….
                </p>
            </div>
            <div class="row" style="padding-left:15px">
                <p>
                    ② Credit card.    <span style="padding-left:270px"> □ Active it</span> <span style="padding-left:100px">□ Re-issue / replace card (expired card / lost card)</span><br />
                    ③ Captured / lost credit card.    <span style="padding-left:163px">□ Block it</span> <span style="padding-left:107px"> □ found it, so re-open / active it</span><br />
                    ④ Cancel / close credit card. (Reason: …………………………………………………………..……………………………………………………………………………………………...)<br />
                    ⑤ Issue a new PIN / replacement of PIN.  <span style="padding-left:89px">□ Primary  card</span> <span style="padding-left:70px">□ Supplementary card</span><br />
                    ⑥ Issue / active cheque book.   <span style="padding-left:165px">□ Issue new book</span> <span style="padding-left:50px">□ Active cheque book (Leaf from ………………… to ………………)</span><br />
                    ⑦ Lost cheque book. (Leaf from ………… to ………) <span style="padding-left:35px">□ Block it</span>  <span style="padding-left:110px">□ found it, so re-open / active it</span><br />
                    ⑧Lost cheque requisition slip, so issue a new cheque book.<br />
                    ⑨ Update document(s) (photocopy enclosed). <span style="padding-left:15px">□ NID …………………………………….</span> □ Passport …………………….……… □ eTIN ………………..……………<br />
                    ⑩ Limit conversation:  □ from BDT…………………………… to USD …………………………… □ from USD ……………………….…… to BDT ………………………….….<br />
                    ⑪ Auto debit instruction.     <span style="padding-left:210px">□ Cancellation</span> <span style="padding-left:65px">□ Enrollment (minimum / full payment) </span><br />
                    <span style="padding-left:15px"> SEBL account no………………………………………………………… Branch name ………………………………………… Amount (BDT / USD) ………….…………………</span><br />
                    ⑫ Enhance the limit of credit card. (Enclosed documents)<br />
                    <span style="padding-left:100px"> a. Salary certificate / trade license. (latest / updated)</span><br />
                    <span style="padding-left:100px"> b. Bank statement. (last 06 months)</span><br />
                    <span style="padding-left:100px"> c. MICR cheque leaf. (signed in favor of SEBL)</span><br />
                    <span style="padding-left:15px"> Expected limit: BDT ……………………………………. (In word) ………………………………………………………………………………………………………………………..…….. </span><br />
                    ⑬ Waive.     <span style="padding-left:35px">□ Late fees</span> <span style="padding-left:30px"> □ Interest. (Reason: ….…………………………………………………………………………………………………………….…..…………………..)</span><br />
                    ⑭ Activation for eCommerce transaction. (In case of any incident of fraud or scam the liabilities will go with me)<br />
                    ⑮ Change of signature: <br />
                    <span style="padding-left:150px">Old signature: …………………………………………………………………………………………… </span><br />
                    <span style="padding-left:150px">New signature: …………………………………………………………………………………………… </span><br />
                    ⑯ Add / Change of eMail ID for eStatement: ………………………………………………………………………………………………………………………………………..…..<br />
                    ⑰ Duplicate statement of credit card. (from ……………………………………… month to ……………………………………… month)<br />
                    ⑱ □ Passport Endorsement / □ Credit card certificate / □ Endorsement certificate / □ No objection certificate (NOC).<br />
                    ⑲ □ Active push pull service / □ Active internet banking service / □ Hardware token / □ Software token / □ Mobile apps.<br />
                    ⑳ Others: …………………………………………………………………………………………………………………………………………………………………………………….……….……….. <br />
                    Thanking you,
                </p>

            </div>

            <br />
            <div class="row" style="padding-left:15px">
                <p>
                    <span style="color:blue;font-size:70%">(Card holder’s signature with date)</span><br />
                    Card Holder’s Name :
                </p>
            </div>
            <div class="row from-group" style="padding-left:15px">
                <div class="col-xl-2 col-lg-2 col-md-2  col-sm-2">Card Number   : </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 ">
                    <div class="row custom-control-inline">
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                    </div>
                    
                </div>
            </div>
            <div class="row" style="padding-left:15px">
                <div class="col-md-6">
                    <p>
                        Date of Birth : <br />
                        Mother’s Name: <br />
                        Mobile Number:
                    </p>
                </div>
                <div class="col-md-6">
                    <div class=""style="padding:5px;float:right;margin-right:50px;border:1px solid gray">
                        <p style="background:#eae9e9;">
                            <b style="padding-left:5px">
                                <u>For Bank Use Only: </u>
                            </b><br />
                        </p>
                        <span style="padding-left:5px">
                            Executed by <span style="font-size:60%">(with designation & date) ………………………………………….</span> <br />
                            Verified by <span style="font-size:60%">(with designation & date) ……………………………………………</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
  
</section>

