
@model SBLViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .form_control_common_cls {
        border-radius: 0;
        border: 1px solid darkgray;
    }
    .form_control_common_cls_width_100{
        width: 100%
    }
    .checkbox_common_cls{
        height: 18px;
        width: 18px;
    }
    .checkbox_text_cls{
        padding-left: 5px;
    }
</style>

<section>
    <div class="card" style="padding:40px">
        <div class="container" style="padding:25px;border:2px solid green">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/img/logo_sebl_tm.png" />
                    <p style="margin-top:50px;">
                        <b style="color:#06daf8;">
                            <u>Customer Request Form:</u>
                        </b>
                    </p>

                </div>
                <div class="col-md-2" style="">
                    <img src="~/img/visa_mastercard.png" style="height:70px;width:120px; margin-top:40px;" />
                </div>
                <div class="col-md-5" style="">
                    <p>
                        <u> 24/7 Customer Service Helpline:</u>
                        <br />
                        <b>T&T</b>
                        <span> : +88-02-9580081-87, 9580800-09</span>
                        <br />
                        <b> Call Centre</b>
                        <span>: 16206 (08.00 am to 10.00 pm)</span>
                        <br />
                        <b>Cell</b>
                        <span>: 01713060050,</span>
                        <b>Fax</b>:
                        <span> +88-02-9576608</span>
                        <br />
                        <b>eMail</b>
                        <span>: cards@southeastbank.com.bd</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Dated: </label>
                        <div class="col-md-10">
                            <input type="date" name="date" id="date" style="width: 50%" class="form_control_common_cls" />
                        </div>
                    </div>
                    <p>
                        To <br />
                        The Head of Card Division <br />
                        Southeast Bank Limited 52-53,<br />
                        Eunoos Trade Centre (Leve-5),<br />
                        Dilkusha C/A, Dhaka-1000
                    </p>
                </div>
                <div class="col-md-6">
                    <div style="padding:10px;background:whitesmoke;float:right;margin-right:30%;border:1px solid gray">
                        <p>
                            <b> <u> Service Request For:</u></b> <br />
                        </p>
                        <span>
                            <input type="checkbox" name="requsetFor" id="requsetFor_01" value="1" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls">Credit Card</span>
                        </span><br />
                        <span>
                            <input type="checkbox" name="requsetFor" id="requsetFor_02" value="2" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls">Debit Card</span>
                        </span><br />
                        <span>
                            <input type="checkbox" name="requsetFor" id="requsetFor_03" value="3" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls">Prepaid / Travel Card</span>
                        </span><br />
                        <span>
                            <input type="checkbox" name="requsetFor" id="requsetFor_04" value="4" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls">Virtual Card</span>
                        </span>
                    </div>

                </div>
                <p style="padding-left:15px">
                    Dear Sir,<br />
                    I undersigned would like to request for the following(s) Southeast Bank Ltd’s card services:
                </p>
            </div>
            <div class="row" style="padding-left:15px">
                <p>
                    ① Changing of address:
                    <span style="padding-left:200px;">
                        <input type="checkbox" name="addressType" id="addressType_01" value="1" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls">home</span>
                    </span>
                    <span style="padding-left:200px;">
                        <input type="checkbox" name="addressType" id="addressType_02" value="2" class="form_control_common_cls checkbox_common_cls" /> <span class="checkbox_text_cls">Office</span>
                    </span><br />
                </p>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="from-group row">
                        <label for="houseName" class="col-form-label col-md-6">as Company / House Name #</label>
                        <div class="col-md-6">
                            <input type="text" name="houseName" id="houseName" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="from-group row">
                        <label for="designation" class="col-form-label col-md-4">Designation #</label>
                        <div class="col-md-8">
                            <input type="text" name="designation" id="designation" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="from-group row">
                        <label for="house" class="col-form-label col-md-5">House#</label>
                        <div class="col-md-7">
                            <input type="text" name="house" id="house" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="from-group row">
                        <label for="flat" class="col-form-label col-md-6">Apart./Flat#</label>
                        <div class="col-md-6">
                            <input type="text" name="flat" id="flat" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="from-group row">
                        <label for="floor" class="col-form-label col-md-5">Floor#</label>
                        <div class="col-md-7">
                            <input type="text" name="floor" id="floor" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="from-group row">
                        <label for="road" class="col-form-label col-md-5">Road#</label>
                        <div class="col-md-7">
                            <input type="text" name="road" id="road" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="Village" class="col-form-label col-md-5"> Area/Village #</label>
                        <div class="col-md-7">
                            <input type="text" name="village" id="village" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="Thana" class="col-form-label col-md-5">PS / Thana #</label>
                        <div class="col-md-7">
                            <input type="text" name="thana" id="thana" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="District" class="col-form-label col-md-5">District</label>
                        <div class="col-md-7">
                            <input type="text" name="district" id="district" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="Contact No: Home #" class="col-form-label col-md-7">Contact No: Home #</label>
                        <div class="col-md-5">
                            <input type="text" name="mobileHome" id="mobileHome" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="Office" class="col-form-label col-md-5">Office #</label>
                        <div class="col-md-7">
                            <input type="text" name="mobileOffice" id="mobileOffice" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="Mobile" class="col-form-label col-md-5">Mobile #</label>
                        <div class="col-md-7">
                            <input type="text" name="mobile" id="mobile" class="form_control_common_cls form_control_common_cls_width_100" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="padding-left:15px">
                <p>
                    ② Credit card.
                    <span style="padding-left:200px;">
                        <input type="checkbox" name="addressType" id="addressType_01" value="1" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls"> Active it</span>
                    </span>
                    <span style="padding-left:150px;">
                        <input type="checkbox" name="addressType" id="addressType_02" value="2" class="form_control_common_cls checkbox_common_cls" /> <span class="checkbox_text_cls">Re-issue / replace card (expired card / lost card)</span>
                    </span><br />
                </p>
            </div>

            <div class="row" style="padding-left:15px">
                <p>
                    ③ Captured / lost credit card.
                    <span style="padding-left:90px;">
                        <input type="checkbox" name="addressType" id="addressType_01" value="1" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls">  Block it it</span>
                    </span>
                    <span style="padding-left:140px;">
                        <input type="checkbox" name="addressType" id="addressType_02" value="2" class="form_control_common_cls checkbox_common_cls" /> <span class="checkbox_text_cls">found it, so re-open / active it</span>
                    </span><br />
                </p>
            </div>

            <div class="from-group row">
                <label for="designation" class="col-form-label col-md-4">④ Cancel / close credit card. (Reason:</label>
                <div class="col-md-8">
                    <input type="text" name="designation" id="designation" class="form_control_common_cls form_control_common_cls_width_100" />
                </div>
            </div>
            <div class="row" style="padding-left:15px">
                <p>
                    ⑤ Issue a new PIN / replacement of PIN.
                    <span style="padding-left:70px;">
                        <input type="checkbox" name="addressType" id="addressType_01" value="1" class="form_control_common_cls checkbox_common_cls" /><span class="checkbox_text_cls"> Primary card</span>
                    </span>
                    <span style="padding-left:140px;">
                        <input type="checkbox" name="addressType" id="addressType_02" value="2" class="form_control_common_cls checkbox_common_cls" /> <span class="checkbox_text_cls">Supplementary card</span>
                    </span><br />
                </p>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="form-group row">
                        <label class="col-form-label col-md-7">  ⑥ Issue / active cheque book.</label>
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-4">Issue new book</label>
                    </div>

                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_02" style="margin-top:11px;" value="2" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-4">Active cheque book (Leaf from </label>
                        <div class="col-md-3">
                            <input type="date" name="addressType" id="" value="2" class="form-control" />
                        </div>
                        <label class="col-form-label col-md-1">to</label>
                        <div class="col-md-3">
                            <input type="date" name="addressType" id="" value="2" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="row from-group">
                        <label class="col-form-label col-md-5">⑦ Lost cheque book. (Leaf from </label>
                        <div class="col-md-3">
                            <input type="date" name="addressType" id="" value="2" class="form-control" />
                        </div>
                        <label class="col-form-label col-md-1">to</label>
                        <div class="col-md-3">
                            <input type="date" name="addressType" id="" value="2" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="form-group row">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_02" style="margin-top:11px;" value="2" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-3">Block it</label>
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-7">found it, so re-open / active it</label>
                    </div>

                </div>
            </div>
            <div class="row">
                <p>⑧Lost cheque requisition slip, so issue a new cheque book.</p>
            </div>
            <div class="row">
                <label class="col-form-label col-md-3">⑨ Update document(s) (photocopy enclosed).</label>
                <div class="col-md-3">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-4">NID</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-4">Passport</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-4">eTIN</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-form-label col-md-2">⑩ Limit conversation:</label>
                <div class="col-md-3">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-4">from BDT</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row from-group">
                        <label class="col-form-label col-md-6">to USD</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-4">from USD</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row from-group">
                        <label class="col-form-label col-md-4">to BDT</label>
                        <div class="col-md-8">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-form-label col-md-4"> ⑪ Auto debit instruction.</label>
                <div class="col-md-5">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-5">Cancellation</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row from-group">
                        <div class="col-md-1">
                            <input type="checkbox" name="addressType" id="addressType_01" style="margin-top:11px;" value="1" class="form_control_common_cls checkbox_common_cls" />
                        </div>
                        <label class="col-form-label col-md-5">Enrollment (minimum / full payment)</label>
                        <div class="col-md-6">
                            <input type="text" name="addressType" id="" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="padding-left:15px">
                <p>

                    <br />
                    
                        <span style="padding-left:210px">□ </span> <span style="padding-left:65px">□  </span><br />
                    <span style="padding-left:15px"> SEBL account no………………………………………………………… Branch name ………………………………………… Amount (BDT / USD) ………….…………………</span><br />
                    ⑫ Enhance the limit of credit card. (Enclosed documents)<br />
                    <span style="padding-left:100px"> a. Salary certificate / trade license. (latest / updated)</span><br />
                    <span style="padding-left:100px"> b. Bank statement. (last 06 months)</span><br />
                    <span style="padding-left:100px"> c. MICR cheque leaf. (signed in favor of SEBL)</span><br />
                    <span style="padding-left:15px"> Expected limit: BDT ……………………………………. (In word) ………………………………………………………………………………………………………………………..…….. </span><br />
                    ⑬ Waive.     <span style="padding-left:35px">□ Late fees</span> <span style="padding-left:30px"> □ Interest. (Reason: ….…………………………………………………………………………………………………………….…..…………………..)</span><br />
                    ⑭ Activation for eCommerce transaction. (In case of any incident of fraud or scam the liabilities will go with me)<br />
                    ⑮ Change of signature: <br />
                    <span style="padding-left:150px">Old signature: …………………………………………………………………………………………… </span><br />
                    <span style="padding-left:150px">New signature: …………………………………………………………………………………………… </span><br />
                    ⑯ Add / Change of eMail ID for eStatement: ………………………………………………………………………………………………………………………………………..…..<br />
                    ⑰ Duplicate statement of credit card. (from ……………………………………… month to ……………………………………… month)<br />
                    ⑱ □ Passport Endorsement / □ Credit card certificate / □ Endorsement certificate / □ No objection certificate (NOC).<br />
                    ⑲ □ Active push pull service / □ Active internet banking service / □ Hardware token / □ Software token / □ Mobile apps.<br />
                    ⑳ Others: …………………………………………………………………………………………………………………………………………………………………………………….……….……….. <br />
                    Thanking you,
                </p>

            </div>

            <br />
            <div class="row" style="padding-left:15px">
                <p>
                    <span style="color:blue;font-size:70%">(Card holder’s signature with date)</span><br />
                    Card Holder’s Name :
                </p>
            </div>
            <div class="row from-group" style="padding-left:15px">
                <div class="col-xl-2 col-lg-2 col-md-2  col-sm-2">Card Number   : </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 ">
                    <div class="row custom-control-inline">
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                        <input type="text" name="" id="" style="width:35px" />
                    </div>

                </div>
            </div>
            <div class="row" style="padding-left:15px">
                <div class="col-md-6">
                    <p>
                        Date of Birth : <br />
                        Mother’s Name: <br />
                        Mobile Number:
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="" style="padding:5px;float:right;margin-right:50px;border:1px solid gray">
                        <p style="background:#eae9e9;">
                            <b style="padding-left:5px">
                                <u>For Bank Use Only: </u>
                            </b><br />
                        </p>
                        <span style="padding-left:5px">
                            Executed by <span style="font-size:60%">(with designation & date) ………………………………………….</span> <br />
                            Verified by <span style="font-size:60%">(with designation & date) ……………………………………………</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
  
</section>

