
@model SBLViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .form_control_common_cls {
        border-radius: 0;
        border: 0.8px solid rgba(0,0,0,0.1);
    }

    .form-control {
        width: 100%
    }

    .checkbox_common_cls {
        height: 18px;
        width: 18px;
        margin-left: 50px;
        margin-top: 11px;
    }
    .checkbox_text_cls {
        padding-left: 5px;
    }

    .text_align_right {
        text-align: right;
    }
    .card{
        border-radius:0;
    }
    label{
        color:rgba(0,0,0,0.6);
    }
    .form-control {
        border-radius: 0 !important;
        height:32px;
    }
</style>

<section>
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div id="live_stock_info_div_id">
                <div class="card">
                    <div class="card-header btn" id="headingLifestock" data-toggle="collapse" data-target="#collapseLifestock" aria-expanded="true" aria-controls="collapseLifestock" style="cursor:pointer">
                        <h5 class="mb-0 text-left">
                            <button class="btn btn-link" type="button">
                                Basic Information
                            </button>
                        </h5>
                    </div>

                    <div id="collapseLifestock" class="collapse show" aria-labelledby="headingLifestock" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Dated </label>
                                            <div class="col-md-10">
                                                <input type="date" name="date" id="date" value="@DateTime.Now" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-5">Service Request For </label>
                                            <div class="col-md-7">
                                                <select class="form-control">
                                                    <option value="0">select service type</option>
                                                    <option value="1">credit card</option>
                                                    <option value="2">debit card</option>
                                                    <option value="3">prepaid/travel card</option>
                                                    <option value="4">cirtual card</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <button type="button" class="btn btn float-right" style="float:right; background:#FE9900;color:white" onclick="nextFun01()">Next</button>
                            <br />
                        </div>

                    </div>
                </div>
            </div>

            <div id="div_identify">
                <div class="card">
                    <div class="card-header collapsed" id="areaIdentify" data-toggle="collapse" data-target="#collapseIdentify" aria-expanded="false" aria-controls="collapseIdentify" style="cursor:pointer">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button">
                                Changing of address
                            </button>
                        </h5>
                    </div>
                    <div id="collapseIdentify" class="collapse" aria-labelledby="areaIdentify" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-6">changing of address</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select address type</option>
                                                    <option value="1">home</option>
                                                    <option value="2">office</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">As Company/House Name#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="houseName" id="houseName" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Designation#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="designation" id="designation" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">House#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="house" id="house" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Apart./Flat#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="flat" id="flat" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Floor#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="floor" id="floor" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Road#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="road" id="road" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Area/Village#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="floor" id="floor" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">PS / Thana#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="road" id="road" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Contact No: Home#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="floor" id="floor" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Office#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="road" id="road" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Mobile#</label>
                                            <div class="col-md-6">
                                                <input type="text" name="floor" id="floor" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br />
                            <button type="button" class="btn btn float-right" style="float:right; background:#FE9900;color:white" onclick="nextFun02()">Next</button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div id="div_identify">
                <div class="card">
                    <div class="card-header collapsed" id="areaIdentify02" data-toggle="collapse" data-target="#collapseIdentify02" aria-expanded="false" aria-controls="collapseIdentify" style="cursor:pointer">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button">
                                card information
                            </button>
                        </h5>
                    </div>
                    <div id="collapseIdentify02" class="collapse" aria-labelledby="areaIdentify" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-6"> Credit card</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Credit card type</option>
                                                    <option value="1">Active it </option>
                                                    <option value="2">Re-issue / replace card (expired card / lost card</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Captured / lost credit card. </label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select lost credit card type</option>
                                                    <option value="1">Active it </option>
                                                    <option value="2"> found it, so re-open / active it </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-6"> Cancel / close credit card. (Reason: </label>
                                            <div class="col-md-6">
                                                <input type="text" name="houseName" id="houseName" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6"> Issue a new PIN / replacement of PIN</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Issue a new PIN type</option>
                                                    <option value="1"> Primary  card  </option>
                                                    <option value="2">Supplementary card</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-6">Issue/active cheque book</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select active cheque book type</option>
                                                    <option value="1">Issue new book</option>
                                                    <option value="2">Active cheque book (Leaf from to)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Lost cheque book.(Leaf from to)</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Lost cheque book type</option>
                                                    <option value="1">Block it</option>
                                                    <option value="2">found it, so re-open/active it</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            Lost cheque requisition slip, so issue <br />
                                            a new cheque book
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Update document(s)(photocopy enclosed).</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Update document type</option>
                                                    <option value="1"> NID </option>
                                                    <option value="2"> Passport </option>
                                                    <option value="3">eTIN</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Limit conversation</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Limit conversation type</option>
                                                    <option value="1">from BDT</option>
                                                    <option value="2"> to USD </option>
                                                    <option value="3">from USD</option>
                                                    <option value="3">to BDT</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Auto debit instruction.</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Auto debit instruction type</option>
                                                    <option value="1"> Cancellation </option>
                                                    <option value="2"> Enrollment (minimum/full payment)</option>
                                                    <option value="3">SEBL account no</option>
                                                    <option value="3">Branch name</option>
                                                    <option value="3">Amount(BDT/USD)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Enhance the limit of credit card. (Enclosed documents)</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Enhance the limit of credit card type</option>
                                                    <option value="1">Salary certificate/trade license.(latest/updated)</option>
                                                    <option value="2">Bank statement.(last 06 months)</option>
                                                    <option value="3">MICR cheque leaf.(signed in favor of SEBL) </option>
                                                    <option value="3">Expected limit:BDT</option>
                                                    <option value="3">In word</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Waive</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select Waive type</option>
                                                    <option value="1">Late fees</option>
                                                    <option value="2">Interest.(Reason:</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <button type="button" class="btn btn float-right" style="float:right; background:#FE9900;color:white" onclick="nextFun03()">Next</button>
                                <br />
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div id="div_identify">
                <div class="card">
                    <div class="card-header collapsed" id="areaIdentify03" data-toggle="collapse" data-target="#collapseIdentify03" aria-expanded="false" aria-controls="collapseIdentify" style="cursor:pointer">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button">
                                card information
                            </button>
                        </h5>
                    </div>
                    <div id="collapseIdentify03" class="collapse" aria-labelledby="areaIdentify" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label> Activation for eCommerce transaction.<br />
                                            (In case of any incident of fraud or <br />
                                            scam the liabilities will go with me)</label>                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Change of signature: </label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select signature type</option>
                                                    <option value="1">Old signature:</option>
                                                    <option value="2">New signature:</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-form-label col-md-6"> Add / Change of eMail ID for eStatement: </label>
                                            <div class="col-md-6">
                                                <input type="text" name="houseName" id="houseName" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">Duplicate statement of credit card. (from</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select statement of credit card type</option>
                                                    <option value="1">from month:</option>
                                                    <option value="2">to month:</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">certificate information</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select certificate type</option>
                                                    <option value="1">Passport Endorsement:</option>
                                                    <option value="2">Credit card certificate:</option>
                                                    <option value="2">Endorsement certificate:</option>
                                                    <option value="2">No objection certificate (NOC):</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <label class="col-from-label col-md-6">service option</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option value="0">select service type</option>
                                                    <option value="1"> Active push pull service :</option>
                                                    <option value="2">Active internet banking service</option>
                                                    <option value="2"> Hardware token:</option>
                                                    <option value="2">Software token:</option>
                                                    <option value="2">Mobile apps:</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                            </div>
                        </div>
                    </div>


                                @*<div id="div_identify">
                        <div class="card">
                            <div class="card-header collapsed" id="areaIdentify02" data-toggle="collapse" data-target="#collapseIdentify02" aria-expanded="false" aria-controls="collapseIdentify" style="cursor:pointer">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button">
                                        Changing of address
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseIdentify02" class="collapse" aria-labelledby="areaIdentify" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-form-label col-md-6">changing of address</label>
                                                    <div class="col-md-6">
                                                        <select class="form-control">
                                                            <option value="0">select address type</option>
                                                            <option value="1">home</option>
                                                            <option value="2">office</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">As Company/House Name#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="houseName" id="houseName" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Designation#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="designation" id="designation" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">House#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="house" id="house" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Apart./Flat#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="flat" id="flat" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Floor#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="floor" id="floor" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Road#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="road" id="road" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Area/Village#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="floor" id="floor" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">PS / Thana#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="road" id="road" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Contact No: Home#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="floor" id="floor" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Office#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="road" id="road" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row form-group">
                                                    <label class="col-from-label col-md-6">Mobile#</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="floor" id="floor" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <br />
                                    <button type="button" class="btn btn float-right" style="float:right; background:#FE9900;color:white" onclick="nextFun03()">Next</button>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>*@

                            </div>



                            @*<div class="row">
                    <br />
                    <div class="row" style="padding-left:15px">
                        <p>
                            <span style="color:blue;font-size:70%">(Card holder’s signature with date)</span><br />
                            Card Holder’s Name :
                        </p>
                    </div>
                    <div class="row from-group" style="padding-left:15px">
                        <div class="col-xl-2 col-lg-2 col-md-2  col-sm-2">Card Number : </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 ">
                            <div class="row custom-control-inline">
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                                <input type="text" name="" id="" style="width:35px" />
                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding-left:15px">
                        <div class="col-md-6">
                            <p>
                                Date of Birth : <br />
                                Mother’s Name: <br />
                                Mobile Number:
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="" style="padding:5px;float:right;margin-right:50px;border:1px solid gray">
                                <p style="background:#eae9e9;">
                                    <b style="padding-left:5px">
                                        <u>For Bank Use Only: </u>
                                    </b><br />
                                </p>
                                <span style="padding-left:5px">
                                    Executed by <span style="font-size:60%">(with designation & date) ………………………………………….</span> <br />
                                    Verified by <span style="font-size:60%">(with designation & date) ……………………………………………</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>*@

                        </div>
</section>

@section Scripts{ 
    <script>

        function nextFun01() {
            $("#areaIdentify").click();
        }
        function nextFun02() {
            $("#areaIdentify02").click();
        }
        function nextFun03() {
            $("#areaIdentify03").click();
        }
    </script>
}