@model AssignmentMrachViewModel
@{
    ViewData["Title"] = "Index";
}



<section>
    <form id="myForm" @*asp-controller="AssignmentMarch" asp-action="Index" method="post"*@>
        <div class="card">
            <div class="card-header" style="text-align:center;background:#ebecec;color:green">
                <p style="font-size:50px">AssignmentMarch</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">First Name</label>
                            <div class="col-md-8">
                                <input type="text" name="FristName" id="FristName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">lest Name</label>
                            <div class="col-md-8">
                                <input type="text" name="LesttName" id="LesttName" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Email</label>
                    <div class="col-md-10">
                        <input type="text" name="Email" id="Email" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Subject</label>
                    <div class="col-md-10">
                        <input type="text" name="Subject" id="Subject" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Your Massage</label>
                    <div class="col-md-10">
                        <textarea rows="3" type="text" name="Massage" id="Massage" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        @*<button type="submit" class="btn btn-success" style="float:right;">Save</button>*@
        <button type="button" class="btn btn-success" onclick="submitFun()" style="float:right;">Save</button>
    </form>
</section>

@section Scripts

{
    <script>

        $(document).ready(function() {

        });

        function submitFun() {

            var data = $("#myForm").serialize();

            $.ajax({
                url: "/AssignmentMarch/IndexSaveByAjaxFun",
                type: "post",
                data: data,
                success: function (res) {
                    //console.log(res);
                    if (res == "success") {
                        swal({
                            title: 'Success!', text: 'Saved Successfully!', type: 'success', showCancelButton: false, confirmButtonColor: '#3085d6', confirmButtonText: 'Ok!'
                        }).then(function () {
                            location.reload();
                        });

                    }
                    else {
                        swal('Warning!', 'Unable to save!', 'warning');
                    }
                }
        })

        }

    </script>
}
